$mobile: "only screen and (max-width: 576px)";
$tablet: "only screen and (min-width: 577px) and (max-width: 768px)";
$smallDesktop: "only screen and (min-width: 769px) and (max-width: 992px)";
$mediumDesktop: "only screen and (min-width: 993px) and (max-width: 1200px)";
$largeDesktop: "only screen and (min-width: 1201px) and (max-width: 1400px)";
$extraLargeDesktop: "only screen and (min-width: 1401px)";


